<!DOCTYPE HTML>
<html ng-app="compositeClicker">
 <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>247Sports Composite Clicker</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="Content/Styles/main.css">
	<script src="Content/Scripts/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="Content/Scripts/main.js"></script>
</head>
<body ng-controller="GameController as gameCtrl">
	<div ng-show="gameCtrl.showTitle()">
		<p>Start Here</p>
		<button type="button" ng-click="gameCtrl.startGame()">Click Here</button>
	</div>
	<div ng-hide="gameCtrl.showTitle()" ng-controller="PlayerController as playerCtrl">
		<p>Create one of them player things...</p>
		<br/>
		<ul>
			<li>{{playerCtrl.player.Name}}</li>
			<li>{{playerCtrl.player.HeightFeet}}' {{playerCtrl.player.HeightInches}}"</li>
			<li>{{playerCtrl.player.Weight}}</li>
		</ul>
		<br/>
		<ul>
			<li>Name: <input type="TextField" ng-model="playerCtrl.player.Name"></input></li>
			<li>Height: 
			<select ng-model="playerCtrl.player.HeightFeet">
				<option>4</option>
				<option>5</option>
				<option>6</option>
			</select>
			<select ng-model="playerCtrl.player.HeightInches">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
				<option>9</option>
				<option>10</option>
				<option>11</option>
			</select></li>
			<li>Weight: <input type="TextField" ng-model="playerCtrl.player.Weight"></input></li>
			<li><button type="button">Create Player</button></li>
		</ul>
	</div>
</body>

</html>